<!DOCTYPE html>
<html>

<head>
    <title>Vue</title>
    <meta http-equiv="content-type" content="text/html" charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <script src="vue.js"></script>
    <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="my-5">
    <div class="container" id="app">
        <div class="card-deck">
            <div class="card" style="width: 20rem;" v-for='element in info'>
                <img class="card-img-top" v-bind:src="element.url" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{element.name}}</h4>
                    <p class="card-text text-">{{element.content}}</p>
                    <!--                     syntax lain gantiin v-on pake @
                    @click -->
                    <a href="#" class="btn btn-primary" v-on:click='display(element.name, element.title)'>Display Alert</a>
                </div>
            </div>
        </div>
        <hr>
        <section>
            <h3>Vue Component</h3></section>
        <test-component></test-component>
    </div>
    <div class="container" id="app2">
        <local-comp></local-comp>
    </div>
    <hr>
    <div id="app3">
        <item label="Price" v-model='price'></item>
        <item label="Shipping" v-model='shipping'></item>
        <item label="Discount" v-model='discount'></item>
        <item style="border-bottom: 2px solid black; padding-bottom: 20px;" label='Wrapping Fee' v-model='wrapping'></item>
        <div class="container">
            <p>Total <span>{{total}}</span></p>
        </div>
        <hr>
    </div>
    <template id="temp1">
        <div class="container">
            <label>{{label}}</label>
            <br>
            <input type="number" v-bind:value="value" v-on:input='send($event.target.value)'>
        </div>
    </template>
    <template id="temp">
        <div class="container">
            <p>Component</p>
            <p>{{name}}</p>
        </div>
    </template>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>