@font-face {
    font-family: GreycliffCF;
    src: url("fonts/GreycliffCF/GreycliffCF-Bold.otf"),
        url("fonts/GreycliffCF/GreycliffCF-BoldOblique.otf"),
        url("fonts/GreycliffCF/GreycliffCF-DemiBold.otf"),
        url("fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.otf"),
        url("fonts/GreycliffCF/GreycliffCF-ExtraBold.otf"),
        url("fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.otf"),
        url("fonts/GreycliffCF/GreycliffCF-Heavy.otf"),
        url("fonts/GreycliffCF/GreycliffCF-HeavyOblique.otf"),
        url("fonts/GreycliffCF/GreycliffCF-Light.otf"),
        url("fonts/GreycliffCF/GreycliffCF-LightOblique.otf"),
        url("fonts/GreycliffCF/GreycliffCF-Medium.otf"),
        url("fonts/GreycliffCF/GreycliffCF-MediumOblique.otf"),
        url("fonts/GreycliffCF/GreycliffCF-Regular.otf"),
        url("fonts/GreycliffCF/GreycliffCF-RegularOblique.otf");
}

@font-face {
    font-family: GreycliffCF-Bold;
    src: url("fonts/GreycliffCF/GreycliffCF-Bold.otf");
}

@font-face {
    font-family: GreycliffCF-BoldOblique;
    src: url("fonts/GreycliffCF/GreycliffCF-BoldOblique.otf");
}

@font-face {
    font-family: GreycliffCF-DemiBold;
    src: url("fonts/GreycliffCF/GreycliffCF-DemiBold.otf");
}

@font-face {
    font-family: GreycliffCF-DemiBoldOblique;
    src: url("fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.otf");
}

@font-face {
    font-family: GreycliffCF-ExtraBold;
    src: url("fonts/GreycliffCF/GreycliffCF-ExtraBold.otf");
}

@font-face {
    font-family: GreycliffCF-ExtraBoldOblique;
    src: url("fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.otf");
}

@font-face {
    font-family: GreycliffCF-Heavy;
    src: url("fonts/GreycliffCF/GreycliffCF-Heavy.otf");
}

@font-face {
    font-family: GreycliffCF-HeavyOblique;
    src: url("fonts/GreycliffCF/GreycliffCF-HeavyOblique.otf");
}

@font-face {
    font-family: GreycliffCF-Light;
    src: url("fonts/GreycliffCF/GreycliffCF-Light.otf");
}

@font-face {
    font-family: GreycliffCF-LightOblique;
    src: url("fonts/GreycliffCF/GreycliffCF-LightOblique.otf");
}

@font-face {
    font-family: GreycliffCF-Medium;
    src: url("fonts/GreycliffCF/GreycliffCF-Medium.otf");
}

@font-face {
    font-family: GreycliffCF-MediumOblique;
    src: url("fonts/GreycliffCF/GreycliffCF-MediumOblique.otf");
}

@font-face {
    font-family: GreycliffCF-Regular;
    src: url("fonts/GreycliffCF/GreycliffCF-Regular.otf");
}

@font-face {
    font-family: GreycliffCF-RegularOblique;
    src: url("fonts/GreycliffCF/GreycliffCF-RegularOblique.otf");
}

* {
    font-family: GreycliffCF-Bold;
}

body {
    margin: 0;
    padding: 0;
}

/* .navbar-brand {
    font-family: GreycliffCF-Regular;
} */

.navbar {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.navbar-brand {
    /* min-height: 69px; */
}

.site-header {
    background-color: rgb(43, 42, 42);
    /* height: 69px; */
    border-bottom: 3px solid black;
    color: white;
}

.site-header a {
    color: #fff;
}

.site-header a:hover {
    color: #999;
    text-decoration: none;
}

.site-header-item {
    font-size: 0.9rem;
    font-family: GreycliffCF-Bold;
}

.site-header-social {
    font-size: 1.2rem;
}

#brand {
    background: #ebebeb;
}

.brand-title {
    font-size: 12px;
    font-family: GreycliffCF-Bold;
}

.brand-year {
    font-size: 12px;
    font-family: GreycliffCF-Heavy;
}

.brand-description {
    font-size: 10px;
    font-family: GreycliffCF-Regular;
}

.carousel-container {
    /* top: 69px; */
    height: auto;
    max-height: 231px;
    /* min-height: 120%; */
    /* background-image: url("images/car.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* opacity: .9; */
}

a {
    text-decoration: none;
}

/* .about-us {
    height: 385px;
} */

.section h4 {
    font-size: 19.2px;
}

.section-subtitle {
    font-size: 10px;
    font-family: GreycliffCF-Regular;
}

.section-number {
    font-family: GreycliffCF-ExtraBold;
}

.section-title {
    font-family: GreycliffCF-Regular;
    font-weight: 600;
}

.section-content {
    font-family: GreycliffCF-Bold;
    font-size: 30px;
    line-height: 1.1
}

.watch {
    font-size: 10px;
    font-family: GreycliffCF-Light;
}

textarea:focus,
input:focus {
    outline: none;
}

.bg-yellow {
    background-color: #fec526;
}

.bg-grey {
    background-color: #ebebeb;
}

#footer {
    height: 415px;
}

.footer-content {
    /* width: 528px; */
    height: 305px;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: black;
}

.most-outer-circle {
    background: transparent;
    height: 54.4px;
    width: 54.4px;
    border-radius: 50%;
    border: .1px solid black;
    font-size: 8px;
}

.most-outer-circle:focus {
    outline: none;
}

.outer-circle {
    position: absolute;
    height: 41.6px;
    width: 41.6px;
    border-radius: 50%;
    border: .5px solid black;
}

.inner-circle {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    /* position: absolute; */
    top: 50%;
}

.front-image-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.front-image {
    position: relative;
}

.about-us__back-images {
    height: auto;
    width: auto;
}

.brand-title {
    font-family: GreycliffCF-ExtraBold;
}

.brand-evolution__image {
    min-width: 130px;
    max-width: 130px;
    min-height: 130px;
    max-width: 130px;
}

.all-project:after {
    content: "";
    position: absolute;
    border-top: 1px solid black;
    width: 12px;
    transform: rotate(-67deg);
    transform-origin: 150% -5px;
}

.bg-shit {
    background: url("images/placeholder_reverse.png");
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
    background-size: 292px auto;
}

.partner-highlights div {
    font-family: GreycliffCF-Light;
    font-size: .6rem;
}

.partner-highlights a {
    font-size: .6rem;
    text-decoration: none;
    -webkit-appearance: none;
    color: black;
}

.carousel-indicators li {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: black;
    /* -webkit-box-shadow: 0 0 0 1px black;
       -moz-box-shadow: 0 0 0 1px black;
            box-shadow: 0 0 0 1px black; */
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .carousel-container {
        max-height: 324px;
    }

    .front-image-container {
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .front-image {
        width: auto;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .carousel-container {
        height: auto;
        max-height: 432px;
    }

    .front-image-container {
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .front-image {
        width: auto;
    }

    .brand-evolution__image {
        min-width: 180px;
        max-width: 180px;
        min-height: 180px;
        max-width: 180px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-container {
        height: auto;
        max-height: 576px;
    }

    .front-image-container {
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .front-image {
        width: auto;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .carousel-container {
        height: auto;
        /* height: 840px; */
        max-height: 840px;
    }

    .body-col {
        width: 1120px;
        /* width: 67%; */
    }

    .body-col-content {
        width: 950px;
    }

    .bg-logo-left {
        background: url('images/logo.png'), #fec526;
        background-repeat: no-repeat;
        background-position: left -218px top 2rem;
        background-size: 605px auto;
        z-index: -999;
    }

    .about-us {
        height: 385px;
    }

    .about-us-container {
        max-width: 425px;
    }

    .about-us__back-images {
        min-height: 337px;
        max-height: 337px;
        width: auto;
    }

    .front-image-container {
        position: absolute;
        top: -7.5%;
        margin-left: 96px;
        margin-top: 0;
    }

    .front-image {
        max-height: 420px;
        min-height: 420px;
        width: auto;
        max-width: 630px;
    }

    .images {
        position: absolute;
    }

    #carousel-front .carousel-item {
        z-index: 1;
    }
}